<div class="container">

  <div class="grid">

    <div class="col-12">
      <h1>Pessoas</h1>
    </div>

    <form autocomplete="off" (ngSubmit)="consultar()">
      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="col-12">
        <button pButton type="Submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="grid">
    <div class="col-12">
      <app-pessoas-grid [pessoas]="pessoas" [totalRegistros]="totalRegistros"
        [itensPorPagina]="filtro.itensPorPagina" (buscarPessoas)="aoMudarPagina($event)"
        (excluirPessoa)="excluirPessoa($event)" (mudarStatus)="alternarStatus($event)"></app-pessoas-grid>
    </div>
  </div>

  <button pButton type="Submit" label="Nova Pessoa"></button>

</div>
